<% if menu_items.size > 0 %>
  <section class="Section">
    <div class="row row-bottom">
      <h3 id =<%= "#{menu_category.id}_h2" %> class="Section_Category Green-Text "><%= menu_category.name %></h3>
      <% if isCafeOwner %>
        <input id=<%= "#{menu_category.id}_edit" %> type="image" src=<%= asset_path("edit-icon-1.png") %> data-id=<%= menu_category.id %> onclick="changeh2toInputTag(event)" width="18" height="18">
        <div class ="sized-box"> </div>
        <%= form_tag request_edit_menu_category_path, method: :POST do %>
          <input type="hidden" name ="menu_id" value=<%= menu_category.id %> />
          <input id=<%= "#{menu_category.id}_input" %> type="text" name="menu_name" class="Section_Category  Section_Category_input Green-Text hideElement" value="<%= menu_category.name %>"  />
          <input id=<%= "#{menu_category.id}_save" %> type="submit" class="button-small hideElement" value="save" />
          <input id=<%= "#{menu_category.id}_cancel" %> type="button" class="button-small hideElement" value="cancel" data-id=<%= menu_category.id %> onclick="changeInputToH2Tag(event)" />
        <% end %>
        <%= form_tag request_delete_menu_category_path, method: :DELETE, data: { confirm: "Do you want to delete menu category?" } do %>
          <input type="hidden" name ="menu_id" value=<%= menu_category.id %> />
          <input  type="image" src=<%= asset_path("trash-can.png") %>  width="12" height="12">
        <% end %>

      <% end %>
    </div>
    <table class="Section_Table">
      <% menu_items.each do |menu_item| %>
        <tr class="Section_MenuItems  Green-Text_Light">
          <td>
            <div>
              <%= menu_item.name %><br/>
              <div class="Section_Description"><%= menu_item.description %></div>
            </div>
          </td>
          <td>: &#8377;<%= menu_item.price %></td>
          <% if isCafeOwner %>
            <td class="menu-action-button" >
              <%= form_tag view_edit_menu_item_path, method: :POST, :remote => true do %>
                <input type="hidden" name ="menu_item_id" value="<%= menu_item.id %>" />
                <input type="hidden" name ="menu_category_id" value="<%= menu_category.id %>" />
                <input type="hidden" name ="menu_category_name" value="<%= menu_category.name %>" />
                <input type="image" src=<%= asset_path("edit-icon.png") %>  width="18" height="18">
              <% end %>
            </td>
            <td class="menu-action-button" >
              <%= form_tag request_delete_menu_item_path, method: :DELETE do %>
                <input type="hidden" name ="menu_item_id" value=<%= menu_item.id %> />
                <input type="image" src=<%= asset_path("trash-can.png") %>  width="18" height="18">
              <% end %>
            </td>
          <% else %>

            <td id =<%= "AddToCartButton_#{menu_item.id}" %> class="add-to-cart-button <%= get_cart_order_items[menu_item.id] == nil ? "" : "hideElement" %>" >
                <button class = "button-small " onclick = "addToCart(event)" data-id =<%= menu_item.id %> >Add to cart</button>
            </td>
            <td id=<%= "CartActionButtons_#{menu_item.id}" %>  class="row <%= get_cart_order_items[menu_item.id] == nil ? "hideElement" : "" %>" >
                <input type="image" src=<%= asset_path("icon-minus.png") %>  data-id =<%= menu_item.id %> onclick ="removeOrderItem(event)"    width="18" height="18">
                <div class ="sized-box"> </div>
                  <span id=<%= "cart_item_quantity_box_#{menu_item.id}" %> >  <%= get_cart_order_items[menu_item.id] %>  </span>
                <div class ="sized-box"> </div>
                <input type="image" src=<%= asset_path("icon-plus.png") %> data-id =<%= menu_item.id %> onclick ="addOrderItem(event)"   width="18" height="18">
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </section>
<% end %>
