
<table class="Section_Table">
  <% menu_items.each do |menu_item| %>
    <tr class="Section_MenuItems  Green-Text_Light">
      <td>
        <div>
          <%= menu_item.name %><br/>
          <div class="Section_Description"><%= menu_item.description %></div>
        </div>
      </td>
      <td>: &#8377;<%= menu_item.price %></td>
      <% if isCafeOwner %>
        <td class="menu-action-button" >
          <%= form_tag view_edit_menu_item_path, method: :POST, :remote => true do %>
            <input type="hidden" name ="menu_item_id" value="<%= menu_item.id %>" />
            <input type="hidden" name ="menu_category_id" value="<%= menu_item.menu_category.id %>" />
            <input type="hidden" name ="menu_category_name" value="<%= menu_item.menu_category.name %>" />
            <input type="image" src=<%= asset_path("edit-icon.png") %>  width="18" height="18">
          <% end %>
        </td>
        <td class="menu-action-button" >
          <%= form_tag request_delete_menu_item_path, method: :DELETE do %>
            <input type="hidden" name ="menu_item_id" value=<%= menu_item.id %> />
            <input type="image" src=<%= asset_path("trash-can.png") %>  width="18" height="18">
          <% end %>
        </td>
      <% else %>

        <td id =<%= "AddToCartButton_#{menu_item.id}" %> class="add-to-cart-button <%= "AddToCartButton_#{menu_item.id}" %> <%= get_cart_order_items[menu_item.id.to_i] == nil ? "" : "hideElement" %>" >
            <button class = "button-small " onclick = "addToCart(event)" data-id =<%= menu_item.id.to_i %> ><%= t("products.add_to_cart") %></button>
        </td>
        <td id=<%= "CartActionButtons_#{menu_item.id}" %>  class="row  <%= "CartActionButtons_#{menu_item.id.to_i}" %> <%= get_cart_order_items[menu_item.id.to_i] == nil ? "hideElement" : "" %>" >
            <input type="image" src=<%= asset_path("icon-minus.png") %>  data-id =<%= menu_item.id.to_i %> onclick ="removeOrderItem(event)"    width="18" height="18">
            <div class ="sized-box"> </div>
              <span id=<%= "cart_item_quantity_box_#{menu_item.id}" %> class="<%= "cart_item_quantity_box_#{menu_item.id}" %>" >  <%= get_cart_order_items[menu_item.id.to_i] %>  </span>
            <div class ="sized-box"> </div>
            <input type="image" src=<%= asset_path("icon-plus.png") %> data-id =<%= menu_item.id %> onclick ="addOrderItem(event)"   width="18" height="18">
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>


