<html>
  <head>
    <link rel="stylesheet" href="model_styles.css">
  </head>
  <body>
      <article>
        <section class ="Section row">
          <h2 class="Section_Title"><%= "#{t("header.welcome")} #{@current_user.first_name}!" %></h2>
          <% if !isCafeOwner %>
            <div style="margin-left:auto;">
              <%= form_tag request_create_order_item_path, method: :post do %>
                <input type="hidden" name="client_cart_items" id="client_cart_items" value ="" />
                <button type="submit" class="button-small button-yellow" style="flex:"><%= t("products.check_out") %></button>
              <% end %>
            </div>
          <% end %>
        </section>
        <div class="row ">
          <h2  class="Section_Title Purple-Text"><%= t("products.menu_list") %></h2>
          <% if isCafeOwner %>
            <%= form_tag view_create_menu_item_path, method: :GET, :remote => true do %>
              <button type="submit" class="button-small">Create Menu</button>
            <% end %>
          <% end %>
        </div>
      </article>

      <% if (@menu_category && @menu_category.errors.any?) || (@menu_item && @menu_item.errors.any?) %>
      <div id="error_explanation">
          <% @menu_category.errors.full_messages.each do |msg| %>
            <p class="error_message"><%= msg %></p>
          <% end %>
          <% @menu_item.errors.full_messages.each do |msg| %>
            <p class="error_message"><%= msg %></p>
          <% end %>
      </div>
      <% end %>
      <% flash.each do |type, msg| %>
        <% className = type == "Error" ? "error_message" : "success_message" %>
        <p class=<%= className %>><%= msg %></p>
      <% end %>
      <%= form_tag request_search_menu_item_path, method: :PUT, class: "Section row", :remote => true do %>
          <div class ="input_box">
              <%= text_field_tag("search_term", value = nil, options = { class: "input_text ", placeholder: t("products.search_placeholder") }) %>
          </div>
          <button type="submit" class="button-small button-yellow" style="margin-left:20px"><%= t("products.search") %> </button>
      <% end %>
      <% @menu_categories.each do |menu_category| %>
        <% if menu_category.menu_items.size > 0 %>
          <section class="Section menu_items_full_list">
            <div class="row row-bottom">
              <h3 id =<%= "#{menu_category.id}_h2" %> class="Section_Category Green-Text "><%= menu_category.name %></h3>
              <% if isCafeOwner %>
                <input id=<%= "#{menu_category.id}_edit" %> type="image" src=<%= asset_path("edit-icon-1.png") %> data-id=<%= menu_category.id %> onclick="changeh2toInputTag(event)" width="18" height="18">
                <div class ="sized-box"> </div>
                <%= form_tag request_edit_menu_category_path, method: :POST do %>
                  <input type="hidden" name ="menu_id" value=<%= menu_category.id %> />
                  <input id=<%= "#{menu_category.id}_input" %> type="text" name="menu_name" class="Section_Category  Section_Category_input Green-Text hideElement" value="<%= menu_category.name %>"  />
                  <input id=<%= "#{menu_category.id}_save" %> type="submit" class="button-small hideElement" value="save" />
                  <input id=<%= "#{menu_category.id}_cancel" %> type="button" class="button-small hideElement" value="cancel" data-id=<%= menu_category.id %> onclick="changeInputToH2Tag(event)" />
                <% end %>
                <%= form_tag request_delete_menu_category_path, method: :DELETE, data: { confirm: "Do you want to delete menu category?" } do %>
                  <input type="hidden" name ="menu_id" value=<%= menu_category.id %> />
                  <input  type="image" src=<%= asset_path("trash-can.png") %>  width="12" height="12">
                <% end %>
              <% end %>
            </div>
            <%= render partial: "menu_list_section", locals: { menu_items: menu_category.menu_items } %>
          </section>
        <% end %>
      <% end %>
      <section class="Section hideElement" id="searched_menu_items_list"></section>

      <div id="cart_items_from_db" data-source=<%= get_cart_order_items.to_json %>></div>
      <div id="modal-window" class="modal modal--hidden">
        <div class="modal-content">
        </div>
      </div>
  </body>
  <script>
    $("#search_term")[0].addEventListener("keyup", (event)=>{
      if(event.target.value!='' ||  event.target.value.length < 3 ){
        $(".menu_items_full_list").removeClass("hideElement");
        $("#searched_menu_items_list").addClass("hideElement");
      }
    })
  </script>
</html>
