<% if @orders.size > 0 %>
  <section class="Section">
    <% flash.each do |type, msg| %>
      <% className = type == "Error" ? "error_message" : "success_message" %>
      <p class=<%= className %>><%= msg %></p>
    <% end %>
    <% @orders.each do |order| %>
    <% enabled_stages = get_enabled_stages(order.order_status) %>

    <div class="row border-bottom"  >
      <div class="column ">
        <div class="row" style="margin:0px;">
          <p style="margin:5px; 0px; color: #656565;" >Order ID : <%= order.id %>  Placed on: <span class="red-Text"><%= order.order_placed_date.strftime("%m/%d/%Y") %> </span> </p>
          <p style="margin:5px; 0px; color: #656565;" >Customer: <%= order.user.first_name %></p>
        </div>
        <div class="row" style ="width: 500px;">
          <p class ="Green-Text" style= "margin : 7px;font-weight: 600;"><%= order.order_status %></p>
          <p style="margin:5px; 0px; color: #656565;" >&#8377; <%= order.order_items.map { |order_item| order_item.menu_item_quantity * order_item.menu_item_price }.sum %> </p>
          <% if order.order_status != $ORDER_STAGES[5] %>
            <%= form_tag request_change_order_stage_path, method: :PUT, :class => "margin_left-auto" do %>
              <input type="hidden" name ="order_id" value=<%= order.id %> />
              <input type="hidden" name ="user_id" value=<%= order.user_id %> />
              <%= select_tag(:stage, options_for_select(enabled_stages, params[:stage]), { :class => "input_text-select input_text-select-small" }) %>
              <button type="submit" class="button-small" >Change Stage</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </section>
  <br/>
<% end %>
