<% if @orders.size > 0 %>
  <section class="Section">
    <% flash.each do |type, msg| %>
      <% className = type == "Error" ? "error_message" : "success_message" %>
      <p class=<%= className %>><%= msg %></p>
    <% end %>
    <% @orders.each do |order| %>
    <% enabled_stages = get_enabled_stages(order.order_status) %>
    <div class="row border-bottom"  >
      <div class="column ">
        <p style="margin:5px; 0px; color: #656565;" >Order ID : <%= order.id %>  </p>
        <div class="row" style ="width: 500px;">
          <p class ="Green-Text" style= "margin : 7px;font-weight: 600;"><%= order.order_status %></p>
          <p style="margin:5px; 0px; color: #656565;" >&#8377;<%= (order.order_items.sum(:menu_item_price)) %>  </p>
          <% if order.order_status != $ORDER_STAGES[4] %>
            <%= form_tag request_change_order_stage_path, method: :PUT, :class => "margin_left-auto" do %>
              <input type="hidden" name ="order_id" value=<%= order.id %> />
              <%= select_tag(:stage, options_for_select(enabled_stages, params[:stage]), { :class => "input_text-select input_text-select-small" }) %>
              <button type="submit" class="button-small" >Change Stage</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </section>
  <br/>
<% end %>
