<article>
  <%= form_tag request_login_path, method: :post, class: "Section" do %>
    <h2 class="Section_Title"> <%= t("home.sign_in") %></h2>
    <% if @user_session.errors.any? %>
    <div id="error_explanation">
        <% @user_session.errors.full_messages.each do |msg| %>
          <p class="error_message"><%= msg %></p>
        <% end %>
    </div>
    <% end %>
    <% flash.each do |type, msg| %>
      <p class="success_message"><%= msg %></p>
    <% end %>
    <div class ="input_box">
      <%= label_tag(:email, "Email Address", options = { class: "input_box-label" }) %>
      <%= text_field_tag("email", value = nil, options = { class: "input_text", required: true }) %>
    </div>
    <div class ="input_box">
      <%= label_tag(:password, "Password", options = { class: "input_box-label" }) %>
      <%= password_field_tag("password", value = nil, options = { class: "input_text", required: true }) %>
    </div>
    <button type="submit" ><%= t("home.sign_in") %> </button>
  <% end %>
</article>
